{% extends "base.html" %}
{% block body %}
          <h4 class="display-4">List of tasks</h4>
          <p>
            <table class="table table-striped">
              <thead class="thead-dark">
              <tr>
                <th scope="col"> <a href="/?order_by=id&order={{order}}">Task ID</a> </th>
                <th scope="col"> <a href="/?order_by=taskname&order={{order}}">Title</a>  </th>
                <th scope="col"> <a href="/?order_by=creation&order={{order}}">Created on</a>  </th>
                <th scope="col"> <a href="/?order_by=due&order={{order}}">Scheduled to</a> </th>
                <th scope="col"> <a href="/?order_by=progress&order={{order}}">Progress</a> </th>
              </tr>
              </thead>
              {% for id,taskname,creation,due,progress in TASKTABLE %}
              <tr>              
                <td scope="row" class="petid" ><a href="{{url_for('pets.pet_info', pid=id)}}">{{id}}</a></td>
                <td class="petname">{{name}} </td>
                <td class="petbought">{{bought}}</td>
                <td class="petsold">{{sold}}</td>
                <td class="petspecies">{{species}}</td>
              </tr>
              {%endfor%}
            </table>
          </p>
{% endblock %}
