{% extends "base.html" %}
{% block body %}
<h1 class="display-1">TASK DETAILS</h1>
<p>
  <h6 class="display-6">
    <u class="name">{{taskname}}</u>
        <div>
            <span class="badge bg-warning text-dark"><h4>Status:{{progress}}</h4></span>
        </div>
    <h3 class="badge bg-info text-dark" style="font-size: medium;" >Created on:</h3>
    (<span class="selldate">{{creation}}</span>)
    <span class="badge bg-dark" style="font-size: medium;">Due timing:</span>
    (<span class="selldate">{{due}}</span>)
  </h6>
</p>
<p class="description"> 
   <b>Details of the event are as follows:</b> <br>
  {{details}}
</p>
<p>
    <a class="btn btn-primary" href="{{url_for('task.edit',id=id)}}">Update</a>
</p>
<div class="btn-group" role="group" aria-label="Basic example"></div> 
    {%if prev %}
        <a class="btn btn-primary" href="/{{prev}}">&laquo; Previous </a>
    {% endif %}

    {%if next %}
        <a class="btn btn-primary" href="/{{next}}"> Next&raquo; </a>  
    {%endif%}
        
    <a class="btn btn-primary" href="{{url_for('task.dashboard')}}">Go Back</a>
    </div>


{% endblock %}
